// floatを解除するclass
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

// 要素を非表示にするclass
.hidden {
  display: none;
}

// 一行の文字の末尾を「...」にするclass
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
