// floatを解除する
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

// 非表示にする
.hidden {
  display: none;
}

// 要素を非表示にする（モバイルファースト）
// モバイルのときは非表示にする
.sp-none {
  display: none;
  @media (min-width: $breakpoint--is-small) {
    display: block;
  }
}
// PCのときは非表示にする
.pc-none {
  display: block;
  @media (min-width: $breakpoint--is-small) {
    display: none;
  }
}

// 一行の文字の末尾を「...」にする
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// hoverすると少し透過する
.shine {
  transition: opacity $transition-time;

  &:hover {
    opacity: 0.8;
  }
}
